<template>
    <div class="categories">
      <div class="field">
        <b-field label="" class="m-t-20">
            <b-select placeholder="Select Category" name="category_id" expanded>
                <option
                    v-for="category in categories"
                    :value="category.id"
                    :selected="category.id == 3 ? true : false"
                    :key="category.id">
                    {{ category.category_name }}
                </option>
            </b-select>
        </b-field>
      </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                categories: [],
            }
        },
        mounted(){
          return this.getCategories();
        },
        methods: {
            getCategories() {
              axios.get('/api/categories')
                .then(response => {
                    console.log(response);
                    this.categories = response.data
                  })
            }
        }
    }
</script>
