<template>
    <div class="post-table">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Slug</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="post in posts">
              <td>{{ post.id }}</td>
              <td>{{ post.title }}</td>
              <td>{{ post.slug }}</td>
            </tr>
          </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data(){
          return {

                posts: []
          }
        },
        mounted() {
            console.log('Component mounted.')
            return this.listPosts();
        },
        methods: {
          listPosts() {
                axios.get('/api/posts')
                    .then(response => {
                        this.posts = response.data;
                        console.log(response);
                    });
            }
        }
    }
</script>
