<template>
    <div class="post-table">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Slug</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(post, index) in posts">
              <td>{{ index + 1 }}</td>
              <td>{{ post.title }}</td>
              <td>{{ post.slug }}</td>
              <td>
                <a :href="'posts/'+post.id+'/edit'" class="is-small button is-primary is-outlined">edit</a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data(){
          return {

                posts: []
          }
        },
        mounted() {
            console.log('Component mounted.')
            return this.listPosts();
        },
        methods: {
            listPosts() {
                axios.get('/api/posts')
                    .then(response => {
                        this.posts = response.data;
                        console.log(response);
                    });
            }
        }
    }
</script>
