<template>
    <div class="post-tags">
        <b-field label="Enter Tag">
            <b-taginput
                v-model="tags"
                :data="filteredTags"
                autocomplete
                field="tag_name"
                icon="hashtag"
                iconPack="fa"
                placeholder="Tags"
                @typing="getFilteredTags">
            </b-taginput>
        </b-field>
        <pre style="max-height: 400px"><b>Tags:</b>{{ tags }}</pre>
        <div class="" v-for="(tag, index) in tags">
          <input type="hidden" name="tags[]" :value="tag.id">
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                filteredTags: [],
                isSelectOnly: false,
                tags: [],
            }
        },
        mounted(){
          return this.getFilteredTags();
        },
        methods: {
            getFilteredTags(text) {
                axios.get('/api/tags')
                  .then(response => {
                      console.log(response);
                      this.filteredTags = response.data.filter((option) => {
                          return option.tag_name
                          .toString()
                          .toLowerCase()
                          //.indexOf(text.toLowerCase()) >= 0
                      })
                  });
            }
        }
    }
</script>
