
nav{
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  //box-shadow: 0 3px 5px 0px rgba(0,0,0,0.02);
  -webkit-transition: background 0.4s ease;
  transition: background 0.4s ease;
}
.blogs{
  .blog{
    position: relative;
    padding: 24px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.03);
    margin-bottom: 2rem;
    .blog-title{
      margin-bottom: 1rem;
      a{
        text-decoration: none;
        color: rgba(0,0,0,0.8);
        font-size: 22px;
      }
    }
    .blog-meta{
      .blog-avatar{
        img{
          width: 24px;
          height: 24px;
          border-radius: 50%;
          vertical-align: middle;
        }
      }
      .blog-author{
        a{
          vertical-align: middle;
          text-decoration: none;
          color: #00a79d;
          font-size: 14px;
          padding-left: .6rem;
        }
      }
      .blog-date{
        font-size: 14px;
        padding-left: .6rem;
        color: rgba(0,0,0,0.4);
      }
    }
    .blog-body{
      font-size: 14px;
      color: rgba(0,0,0,0.6);
      font-weight: 300;
      word-wrap: break-word;
      margin-top: 1rem;
    }
    .blog-footer{
      border-top: 1px solid #eee;
      padding-top: 1rem;
      margin-top: 1rem;
      font-size: 14px;
      a{
        margin-top: 1rem;
        color: #00a79d;
      }
    }
  }
  .meta-font{
    font-size: 11px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.4);
  }
  .post{
    .post-cat{
      text-align: center;
      text-transform: uppercase;
    }
    .post-title{
      font-weight: 800;
      text-align: center;
    }
    .post-meta{
      border-top: 1px solid #f4f4f4;
      border-bottom: 1px solid #f4f4f4;
      .post-avatar{
        img{
          width: 24px;
          height: 24px;
          border-radius: 50%;
          vertical-align: middle;
        }
      }
      .post-author > span{
        padding-left: .6rem;
        a{
          padding-left: .6rem;
          text-decoration: none;
          color: #00a79d;
          font-size: 14px;
        }
      }
      .post-date > span{
            border-left: 1px solid #f4f4f4;
            padding-left: .6rem;
            font-size: 14px;
            color: rgba(0,0,0,0.4);

      }
      .post-comment{
        font-size: 14px;
        color: rgba(0,0,0,0.4);
      }
    }
    .post-body{
      text-align: justify;
      font-weight: 300;
      margin-bottom: 1.5rem;
      overflow: hidden;
    }
    .post-tags{
      border-bottom: 1px solid #f4f4f4;
      padding-bottom: 1.8rem;
      margin-bottom: 1rem;
      a{
        color: rgba(0,0,0,0.4);
        text-decoration: none;
        margin-right: .4rem;
        &:hover{
          border-color: #00a79d;
          color: #00a79d;
        }
      }
    }
    .post-author-details{
      .box{
        figure{
          margin: 0rem 1rem 0rem 0rem!important;
        }
        span{
          a{
            color: #00a79d;
            text-decoration: none;
          }
        }
        .icon{
          a{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid #ddd;
            font-size: 14px;
            line-height: 28px;
            text-align: center;
            color: #aaa;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
            &:active{
              outline: 0;
              color: #23527c;
            }
            &:hover{
              outline: 0;
              color: #23527c;
            }
          }
        }
      }
    }
  }
}
.widget{
  margin-bottom: 2.2rem;
  .widget-title{
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    background-color: #f4f4f4;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 1rem;
    span{
      background-color: #fff;
      color: rgba(0,0,0,0.8);
      padding: 3px 10px 3px 0px;
    }
  }

  .category-box{
    display: block;
    overflow: hidden;
    ul{
      li{
        width: 50%;
        float: left;
        padding: 5px;
        div{
          background-color: #00a79d;
          position: relative;
          border-radius: 4px;
          overflow: hidden;
          box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
          text-align: center;
          padding: 4rem 0;
          a{
            text-decoration: none;
          }
          small{
            font-size: 11px;
            color: #f4f4f4;
          }
        }
      }
    }
  }
  .popular-posts{
    background-color: #fafafa;
    border-radius: 4px;
    .post-number{
      span{
        display:block;
        text-align: center;
        vertical-align: middle;
        width: 32px!important;
        height: 32px!important;
        border-radius: 50%;
        background-color: white;
        color: #333;
        padding: 3px 0 0;
        box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
      }
    }
  }
}
